body {
  background-image: url("Bobux.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  text-align: center;
  font-size: 5cm;
  background-color: black;
  color: yellowgreen;
}

#button {
  background-color: yellowgreen;
  color: darkgreen;
  font-size: 5cm;
  border-radius: 90px;
  padding: 20px;
  margin-bottom: 20px;
}
